<div class="top-wrapper">
 <div class="top-inner-text">
    <div class="image-container">
        <img src="/assets/Answer02.png" alt="パドリジャーニ" class="answer-image">
        <div class="text-overlay">
          <h6>パドリジャーニ</h6>
          <p>ბადრიჯანი</p>
        </div>
    </div>
 </div>
</div>