<div class="top-wrapper">
 <div class="top-inner-text">
   <div class="image-container">
        <img src="/assets/Answer08.png" alt="チャホフビリ" class="answer-image">
        <div class="text-overlay">
          <h6>チャホフビリ</h6>
          <p>შქმერული</p>
        </div>
   </div>
 </div>
</div>