<div class="top-wrapper">
 <div class="top-inner-text">
   <div class="image-container">
        <img src="/assets/Answer06.png" alt="チヒルトゥマ" class="answer-image">
        <div class="text-overlay">
          <h6>チヒルトゥマ</h6>
          <p>ჩიხირთმა</p>
        </div>
   </div>
 </div>
</div>