<div class="top-wrapper">
  <div class="diagnosis-inner-text">
  <!-- オジャフリのリンクを選択するとオジャフリの詳細 -->
  <div class="image-container">
        <img src="/assets/Answer01.png" alt="オジャフリ" class="answer-image">
        <div class="text-overlay">
          <h6>オジャフリ</h6>
          <p>ოჯახური</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p><%= t('diagnoses.description.ojakhuri1') %></p>
      <p><%= t('diagnoses.description.ojakhuri2') %></p>
      <p><%= t('diagnoses.description.ojakhuri3') %></p>
      </div>
  </div>
  <!-- パドリジャーニを選択するとパドリジャーニの詳細 -->
  <!-- ソコスチャシュシュリを選択するとソコスチャシュシュリの詳細 -->
  <!-- 同様に続ける -->
</div>