<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="georgia-inner-text">
    <h1>ジョージア料理って何？</h1>
  </div>
    <div class="georgia-deta">
    <p>ジョージアは古来から数多くの民族が行き交うアジアとヨーロッパを
    つなぐ交通の要衝であった。</p>
    <p>歴史上、隣接する国に支配されていたことで
    料理においても、アジアの要素とヨーロッパの要素を混ぜ合わせた文化が
    形成し、今に至る</p>
    </div>
  <div class="georgia-inner-text">
    <h1>主食は何？</h1>
  </div>
  <div class="georgia-deta">
  <p>ジョージアは古来から数多くの民族が行き交うアジアとヨーロッパを
  つなぐ交通の要衝であった。</p>
  <p>歴史上、隣接する国に支配されていたことで
  料理においても、アジアの要素とヨーロッパの要素を混ぜ合わせた文化が
  形成し、今に至る</p>
  </div>
  <div class="georgia-inner-text">
    <h1>料理の特色は？</h1>
  </div>
  <div class="georgia-deta">
  <p>西アジアの影響でハーブやスパイスを多用する
  歯ざわりや風味付けにクルミをよく用いる</p>
  </div>
  <!-- 画像 -->
       <div class="food-container">
         <img src="/assets/Image05.png" alt="イメージ5" class="image05">
         <img src="/assets/Image06.png" alt="イメージ6" class="image06">
       </div>
</div>