<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="georgia-inner-text">
  <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.What is a Georgian_Food?') %></h1>
   </div>
  </div>
    <div class="georgia-deta">
    <div class = "kaisei-decol-regular">
    <p>ジョージアは古来から数多くの民族が行き交うアジアとヨーロッパを
    つなぐ交通の要衝であった。</p>
    <p>歴史上、隣接する国に支配されていたことで
    料理においても、アジアの要素とヨーロッパの要素を混ぜ合わせた文化が
    形成し、今に至る</p>
    </div>
    </div>
  <div class="georgia-inner-text">
   <div class = "kaisei-decol-regular">
    <h1>主食は何？</h1>
   </div>
  </div>
  <div class="georgia-deta">
    <div class = "kaisei-decol-regular">
  <p>小麦を使ったパンが主食、各エリアごと山岳に囲まれていることから</p>
  <p>パン作りの材料、製法がエリアごとで異なる</p>
  <p>北に隣接するロシアの影響で、ライ麦もよく口にする</p>
  </div>
  </div>
  <div class="georgia-inner-text">
   <div class = "kaisei-decol-regular">
    <h1>料理の特色は？</h1>
   </div>
  </div>
  <div class="georgia-deta">
    <div class = "kaisei-decol-regular">
  <p>西アジアの影響でハーブやスパイスを多用する
  歯ざわりや風味付けにクルミをよく用いる</p>
  </div>
  </div>
  <!-- 画像 -->
       <div class="food-container">
         <%= image_tag 'Image05.png', alt: 'イメージ5', class: 'image05' %>
         <%= image_tag 'Image06.png', alt: 'イメージ6', class: 'image06' %>
       </div>
  <br>
  <div class="overview">
    <%= link_to 'トップページに戻る', top_path, class: 'orange' %>
  </div>
</div>