<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
    </head>
<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
 <div class="top-inner-text">
   <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.how_to_use_this_app') %></h1>
   </div>
  </div>
  <br>
    <div class="overview">
     <div class = "kaisei-decol-regular">
     <p>「ガマルジョバ」</p>
     <div class = "noto-serif-georgian-uniquifier">
       <p>გამარჯობა</p>
     </div>
     これはジョージア語で「こんにちは」を意味する日常会話です</p>
     <p>日常会話のようにみんながジョージア料理を共有することを願って、アプリの名前にしました</p>
     <p>当アプリでは、簡単な診断をYESNO形式で回答後、おすすめのジョージア料理をあなたに提案いたします</p>
     <a href="https://gyazo.com/5cf13f25d2077b44da2553c8e061fa5a"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/5cf13f25d2077b44da2553c8e061fa5a.mp4" type="video/mp4"/></video></a>
     <p>診断した結果に応じておすすめのジョージア料理と作り方のページに遷移できます</p>
     <p>また、Xでのシェア機能を用いて、多くの人に共有できます</p>
     <a href="https://gyazo.com/6dc1be30ede0b4c051cd211c5b980979"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/6dc1be30ede0b4c051cd211c5b980979.mp4" type="video/mp4"/></video></a>
     <br>
     <img src="https://i.gyazo.com/1ed020c1c3e22b1317a8cbff3b38e2f5.png" class: 'food-link'>
     <p>診断はログインなしで行うことが可能です</p>
     <p>ユーザー登録しログインすると、各料理の掲示板にとびます</p>
     <a href="https://gyazo.com/f6b4f7b458a27a77058943d580e464cb"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/f6b4f7b458a27a77058943d580e464cb.mp4" type="video/mp4"/></video></a>
     <p>ここでは自ら作った物を各料理掲示板の中で口コミをすることができ、<br>
     画像アップロードして投稿することもできます</p>
     <a href="https://gyazo.com/ba7ad6ff702ba32346365971995d4064"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/ba7ad6ff702ba32346365971995d4064.mp4" type="video/mp4"/></video></a>
     <p>参考になった口コミに関しては、いいねをすることが可能です<br>
     いいねした投稿、ユーザー自身が投稿した口コミはヘッダー上でにアクセスできます</p>
     <a href="https://gyazo.com/63228fd2179ca2c1c74a466a2db6357c"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/63228fd2179ca2c1c74a466a2db6357c.mp4" type="video/mp4"/></video></a>
     </div>  
    </div>
    <br>
    <div class="overview">
    <%= link_to 'トップページに戻る', top_path, class: 'orange' %>
    </div>
</div>