<div class="top-wrapper">
 <div class="top-inner-text">
    <div class="image-container">
        <img src="/assets/Answer01.png" alt="オジャフリ" class="answer-image">
        <div class="text-overlay">
          <h6>オジャフリ</h6>
          <p>ოჯახური</p>
        </div>
    </div>
 </div>
</div>