<div class="top-wrapper">
 <div class="top-inner-text">
   <div class="image-container">
        <img src="/assets/Answer05.png" alt="オーストリ" class="answer-image">
        <div class="text-overlay">
          <h6>オーストリ</h6>
          <p>ოსტრი</p>
        </div>
   </div>
 </div>
</div>