<div class="top-wrapper">
 <div class="top-inner-text">
   <div class="image-container">
        <img src="/assets/Answer04.png" alt="プパリ" class="answer-image">
        <div class="text-overlay">
          <h6>プパリ</h6>
          <p>ფხალი</p>
        </div>
   </div>
 </div>
</div>