<div class="top-wrapper">
 <div class="top-inner-text">
   <div class="image-container">
        <img src="/assets/Answer07.png" alt="シュクメルリ" class="answer-image">
        <div class="text-overlay">
          <h6>シュクメルリ</h6>
          <p>შქმერული</p>
        </div>
   </div>
 </div>
</div>