<div class="top-wrapper">
 <div class="top-inner-text">
   <div class="image-container">
        <img src="/assets/Answer03.png" alt="ソコスチャシュシュリ" class="answer-image">
        <div class="text-overlay">
          <h6>ソコスチャシュシュリ</h6>
          <p>სოკოს ჭაშუშული</p>
        </div>
   </div>
 </div>
</div>