<div class="diagnosis-wrapper">
  <div class="diagnosis-inner-text">
    <p>おすすめはこちら</p>
  </div>
  <div class="tweet-container">

    <!-- 111 の場合（オジャフリ） -->
    <% if @diagnosis.question == "112" %>
      <div class="image-container">
        <img src="/assets/Answer01.png" alt="オジャフリ" class="answer-image">
        <div class="text-overlay">
          <h6>オジャフリ</h6>
          <p>ოჯახური</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>ジョージア語で「家族の食事」と言われる代表的な肉料理</p>
      <p>ジャガイモと玉ねぎ、豚肉、ニンニクやパクチーなどのハーブで作られる、いわば「ジョージア風ジャーマンポテト」
      <p>ホクホクのジャガイモと、カリカリのお肉が食欲をそそるので、ビールとの相性が抜群</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-ojakhuri-jp/" class="how-to-make">作り方はこちら</a>
      </div>


    <!-- 121 の場合（パドリジャーニ） -->
    <% elsif @diagnosis.question == "212" %>
      <div class="image-container">
        <img src="/assets/Answer02.png" alt="パドリジャーニ" class="answer-image">
        <div class="text-overlay">
          <h6>パドリジャーニ</h6>
          <p>ბადრიჯანი</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>ジョージア語で「家族の食事」と言われる代表的な肉料理</p>
      <p>ナスを使った冷菜の一つ。焼きナスにペースト状にしたクルミを巻くので、見栄えが良くちょっとしたパーティにもおすすめ</p>
      <p>フードプロセッサーやミキサーがあれば簡単にクルミペースト作れるので手軽にできるかも</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-badrijani-jp/" class="how-to-make">作り方はこちら</a>
      </div>


    <!-- 122 の場合（ソコスチャシュシュリ） -->
    <% elsif @diagnosis.question == "122" %>
      <div class="image-container">
        <img src="/assets/Answer03.png" alt="ソコスチャシュシュリ" class="answer-image">
        <div class="text-overlay">
          <h6>ソコスチャシュシュリ</h6>
          <p>სოკოს ჭაშუშული</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>ジョージア風キノコのハーブソテー</p>
      <p>お好きなキノコと一緒に家庭に最低限なスパイスで炒める手軽で美味しく作れるのが魅力</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-sokos-chashushuli-jp/" class="how-to-make">作り方はこちら</a>
      </div>


    <!-- 222 の場合（プパリ） -->
    <% elsif @diagnosis.question == "222" %>
      <div class="image-container">
        <img src="/assets/Answer04.png" alt="プパリ" class="answer-image">
        <div class="text-overlay">
          <h6>プパリ</h6>
          <p>ფხალი</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>野菜とクルミをペースト状にした前菜の一つ</p>
      <p>基本ほうれん草、ビーツなどを使うケースが多いが、どんな野菜を使ってもOK</p>
      <p>各種の野菜の色彩が異なるので、それぞれ色合いの異なったプパリを作ることができる</p>
      <p>そのためジョージアでは宴の時に用意されるケースが多い</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-pkhali-jp/" class="how-to-make">作り方はこちら</a>
      </div>


    <!-- 121 の場合（オーストリ） -->
    <% elsif @diagnosis.question == "121" %>
      <div class="image-container">
        <img src="/assets/Answer05.png" alt="オーストリ" class="answer-image">
        <div class="text-overlay">
          <h6>オーストリ</h6>
          <p>ოსტრი</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>子牛肉とトマトのシチュー
      <p>スパイスと唐辛子をふんだんに使うので、奥深いスパイシーな味わいが特徴</p>
      <p>ジョージアではパンにつけて食べるがご飯ともよく合う。酒との相性が抜群なので、酒好きの方にはおすすめ</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-ostri-jp/" class="how-to-make">作り方はこちら</a>
      </div>


    <!-- 221 の場合（チヒルトゥマ） -->
    <% elsif @diagnosis.question == "221" %>
      <div class="image-container">
        <img src="/assets/Answer06.png" alt="チヒルトゥマ" class="answer-image">
        <div class="text-overlay">
          <h6>チヒルトゥマ</h6>
          <p>ჩიხირთმა</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>鶏肉と卵のスープ</p>
      <p>ジョージアでよく用いるスパイスが必要でなく、粉末ブイヨンやコンソメを使えば手軽に作れる</p>
      <p>鶏のあっさり感と卵のトロミが身体に染みるので、体調が悪いとき、二日酔い時におすすめ</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-chikhirtma-jp/" class="how-to-make">作り方はこちら</a>
      </div>

    
    <!-- 111 の場合（シュクメルリ） -->
    <% elsif @diagnosis.question == "111" %>
      <div class="image-container">
        <img src="/assets/Answer07.png" alt="シュクメルリ" class="answer-image">
        <div class="text-overlay">
          <h6>シュクメルリ</h6>
          <p>შქმერული</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>鶏肉とガーリックのクリーム煮込み</p>
      <p>ニンニクは刻みでもいいけどニンニクチューブでもおいしく作れる</p>
      <p>本場は鶏肉とニンニクのみの材料で作るけど、シチューみたいにジャガイモ、玉ねぎ、サツマイモを入れるのもあり</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-shkmeruli-jp/" class="how-to-make">作り方はこちら</a>
      </div>



    <!-- 211 の場合（チャホフビリ） -->
    <% elsif @diagnosis.question == "211" %>
      <div class="image-container">
        <img src="/assets/Answer08.png" alt="チャホフビリ" class="answer-image">
        <div class="text-overlay">
          <h6>チャホフビリ</h6>
          <p>შქმერული</p>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
      <p>鶏肉のトマト煮込み</p>
      <p>鶏肉の癖のない香ばしさとトマトのうまみとの組み合わせは万人受け間違いなし</p>
      <p>骨付き鶏肉や皮付きの鶏肉を使うのがコツ</p>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-chakhokhbili-jp/" class="how-to-make">作り方はこちら</a>
      </div>
    <% end %>
  </div>
    <div class="button-container2">
      <%= link_to "もう一度診断する？", new_diagnosis_path, class:"diagnosis-again" %>
      <%= link_to "ユーザー登録へ", "", class:"result" %>
    </div>
</div>

        