<footer id='footer' class='footer-bottom'>
  <nav class='navbar navbar-expand-lg navigation navbar-light custom-bg'>
      <div class='col-sm-6 col-12'>
         <ul class='navbar-nav ms-auto main-nav align-items-center'>
          <%= link_to 'プライバシーポリシー', 'https://www.kiyac.app/privacypolicy/CAcelvJVRiEADWK8L4Mb', class: "nav-link" %>
          <%= link_to '利用規約', terms_path ,class: 'nav-link' %>
          <%= link_to 'お問い合わせ',"https://docs.google.com/forms/d/e/1FAIpQLSfGv6xKuATPkIRM57hOeL6fAwSo-hnu4CyrhzpKDKQ386I9cg/viewform?embedded=true", class: 'nav-link' %>
         </ul>
        <p>Copyright © 2024. ガマルジョバ</p>
      </div>
  </nav>
</footer>