<footer id='footer' class='footer-bottom'>
  <nav class='navbar navbar-expand-lg navigation navbar-light custom-bg'>
      <div class='col-sm-6 col-12'>
         <ul class='navbar-nav ms-auto main-nav align-items-center'>
          <%= link_to 'プライバシーポリシー', '#', class: "nav-link" %>
          <%= link_to '利用規約', '#', class: 'nav-link' %>
          <%= link_to 'お問い合わせ', '#', class: 'nav-link' %>
         </ul>
        <p>Copyright © 2024. ガマルジョバ</p>
      </div>
  </nav>
</footer>