
        <div data-raty></div>
          <script src="https://cdn.jsdelivr.net/npm/raty-js@4.3.0/build/raty.min.js"></script>
            <script>
            if (true) {
             document.querySelector('[data-raty]').innerHTML = '';
             let opt = {
             starOn: "<%= asset_path('star-on.png') %>",
             starOff: "<%= asset_path('star-off.png') %>",
             starHalf: "<%= asset_path('star-half.png') %>",
             scoreName: 'post[star]' 
             };
             const raty = new Raty(document.querySelector('[data-raty]'),opt);
             raty.init();
             }
            </script>
            <link href="https://cdn.jsdelivr.net/npm/raty-js@4.3.0/src/raty.min.css" rel="stylesheet">
        
