
        <div data-raty data-score="<%= @post.star || 0 %>" data-read-only="false" data-score-name="post[star]"></div>
          
            <script>
             document.querySelector('[data-raty]').innerHTML = '';
             let opt = {
             starOn: "<%= asset_path('star-on.png') %>",
             starOff: "<%= asset_path('star-off.png') %>",
             starHalf: "<%= asset_path('star-half.png') %>",
             scoreName: 'post[star]' 
             };
             const raty = new Raty(document.querySelector('[data-raty]'),opt);
             raty.init();
            </script>
        
