



.diagnosis-inner-text {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 50px; 
  }

.form-group {
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    text-align: center;
  }



.hidden-radio {
    display: none;
    text-align: center;
  }


.yes-button {
    display: inline-block;
    background-color: #FF0505;
    color: white;
    width: 290px;
    height: 106px;
    line-height: 106px; 
    text-align: center;
    font-size: 2.8rem;
    text-decoration: none;
    border-radius: 10px; 
    font-weight: bold;
}

.yes-button:hover {
    background-color: #ff0505b2;
    color: white;
  }
  

.no-button {
    display: inline-block;
    background-color: #05D2FF;
    color: white;
    width: 290px;
    height: 106px;
    line-height: 106px; 
    text-align: center;
    font-size: 2.8rem;
    text-decoration: none; 
    border-radius: 10px; 
    font-weight: bold;
}

.no-button:hover {
    background-color: #05d1ffb7; 
    color: white;
  }



input[type="radio"]:checked + .yes-button {
    background-color: #cc0000; 
  }
  
input[type="radio"]:checked + .no-button {
    background-color: #0088cc; 
}


.image-container {
  position: relative; 
  max-width: 100%; 
  height: auto; 
  margin: 0 auto; 
  overflow: hidden; 
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
  .text-overlay {
      font-size: 3rem;
  }
}




.overview{
  font-size: 1.8rem;
  text-align: center;
}


.button-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
}


.how-to-make{
  display: inline-block;
  background-color: rgb(44, 235, 6);
  color: white;
  width: 290px;
  height: 106px;
  line-height: 106px; 
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none; 
  border-radius: 10px; 
  font-weight: bold;
}


.how-to-make:hover {
  background-color: rgba(44, 235, 6, 0.595); 
  color: white;
}


.diagnosis-again{
  display: inline-block;
  background-color: rgb(193, 6, 235);
  color: white;
  width: 290px;
  height: 106px;
  line-height: 106px; 
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none; 
  border-radius: 10px; 
  font-weight: bold;
}

.diagnosis-again:hover {
  background-color: rgba(193, 6, 235, 0.544); 
  color: white;
}


.button-container2{
  display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 0 50px; 
    margin-top: 20px; 
    align-items: center; 
}
