.top-wrapper {
  background-color: #fbecc0;
  position: relative;
  background-position: center;
  padding: 50px 0; 
  min-height: 100vh; 
}

.top-inner-text {
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
  color: black;
  margin-bottom: 50px; 
  opacity: 0; 
  transform: translateY(100%); 
  animation: fadeInFromBottom 1s forwards; 
}

@keyframes fadeInFromBottom {
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}

@media screen and (max-width: 767px) {
  .top-inner-text {
    font-size: 2rem;
  }
}

.button-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
}

.button {
  width: 501px;  
  height: 378px; 
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px; 
}

.upper-button{
  background-image: url('atmosphere_tbilisi.webp');
}

.middle-button {
  background-image: url('Flag_of_Georgia.svg.webp');
}

.under-button {
  background-image: url('Image07.png');
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.upper-button .button-text {
  color: white;
}

.middle-button .button-text {
  color: black;
}
.under-button .button-text {
  color: white;
}

.start-button-container {
  margin-top: 20px; 
  display: flex;
  justify-content: center; 
}

.orange {
  display: inline-block;
  background-color: orange;
  color: white;
  width: 290px;
  height: 106px;
  line-height: 106px; 
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none; 
  border-radius: 10px; 
  font-weight: bold;
}

.orange:hover {
  background-color: #ff7f50; 
  color: white;
}

.footer-bottom{
  background-color: #F0DB87; 
}

.custom-bg {
  background-color: #F0DB87; 
}

.georgia-deta {
  font-size: 1.8rem;
  text-align: start;
}


.georgia-inner-text {
  width: 100%;
  text-align: start;
  font-size: 4.5rem;
  color: black;
  margin-bottom: 50px; 
  opacity: 0; 
  transform: translateY(100%); 
  animation: fadeInFromBottom 1s forwards; 
}

@keyframes fadeInFromBottom {
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}

.food-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-top: 20px;
}

.georgia, .image05, .image06 {
  width: 45%; 
  height: auto; 
  object-fit: cover; 
}


.custom-input {
  background-color: #F5F5F5; 
}


.custom-link {
  font-size: 1.3rem; 
  text-decoration: underline; 
}


.start-button {
  margin-top: 20px; 
}


.mt-3 {
  margin-top: 15px;
}


.food-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.food-item {
  position: relative; 
}

.food-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.food-image:hover {
  transform: scale(1.05); 
}

.food-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%; 
}


@media (max-width: 768px) {
  .food-grid {
    grid-template-columns: 1fr; 
  }

  .post-food-image,.food-image {
    width: 100%; 
    height: auto; 
  }
}

.post-food-image {
  width: 1000px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.2s ease;
}


.blue {
  display: inline-block;
  background-color: #0578FF;
  color: white;
  width: 290px;
  height: 106px;
  line-height: 106px; 
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none; 
  border-radius: 10px; 
  font-weight: bold;
}

.blue:hover {
  background-color: #0548ffa0; 
  color: white;
}


.pagination>li>a {	
  background: #fbecc0;		
  border: none;		
  color: black;	
}


.pagination>.active>a {		
  background: #bf392b;	   
  border-radius: 15px;	   
}


.pagination>li>a:hover {		
  border-radius: 15px;	  
}

#table-comment {
  width: 100%; 
  table-layout: fixed; 
}

#table-comment td {
  width: 100%; 
  padding: 10px;
  vertical-align: top;
  word-wrap: break-word; 
}

.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-georgian-uniquifier {
  font-family: "Noto Serif Georgian", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

