<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to admin_posts_path, class: "nav-link #{ active_if('admin/posts') }" do %>
        <i class="bi bi-file-earmark"></i>
          <%= t('admin.posts.index.title') %>
      <% end %>
      </li>
    </ul>
  </div>
</nav>